.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contentContainer {
  display: flex;
  gap: 32px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
